@model Sozif.Products

@{
    ViewData["Title"] = "Szczegóły produktu \"" + Model.ProductName + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły produktu</h1>

<div>
    <h4>@Model.ProductName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa produktu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            Cena netto
        </dt>
        <dd class="col-sm-10">
            @((Model.BaseNetPrice / 100.0).ToString("0.00")) zł
        </dd>
        <dt class="col-sm-2">
            Stawka VAT
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxRate.Rate)%
        </dd>
        <dt class="col-sm-2">
            Cena brutto
        </dt>
        <dd class="col-sm-10">
            @((Model.BaseGrossPrice / 100.0).ToString("0.00")) zł
        </dd>
    </dl>
</div>
<div>
    @if (Context.Session.GetString("EditProducts") == "true")
    {
        <a asp-action="Edit" asp-route-id="@Model.ProductId">Edytuj</a><text> |</text>
        <a asp-action="Delete" asp-route-id="@Model.ProductId"> Usuń</a><text> | </text>
    }
    <a asp-action="Index">Wróć do listy produktów</a>
</div>
