@model IEnumerable<Sozif.Products>

@{
    ViewData["Title"] = "Lista produktów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista produktów</h1>

@if (Context.Session.GetString("EditProducts") == "true")
{
    <p>
        <a asp-action="Create"><input class="btn btn-primary" type="button" value="Dodaj produkt" /></a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa produktu
            </th>
            <th>
                Cena netto
            </th>
            <th>
                Stawka VAT
            </th>
            <th>
                Cena brutto
            </th>
        </tr>
    </thead>
    <tbody>
        @{ bool row = true; }
        @foreach (var item in Model)
        {
            row = !row;
            <tr onclick="location.href = '@(Url.Action("Details", "Products", new { id = item.ProductId }))'" class=@(row ? "d0" : "d1")>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @((item.BaseNetPrice / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxRate.Rate)%
                </td>
                <td>
                    @((item.BaseGrossPrice / 100.0).ToString("0.00")) zł
                </td>
            </tr>
        }
    </tbody>
</table>
