@model Sozif.Users

@{
    ViewData["Title"] = "Usuwanie użytkownika \"" + @Model.Username + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuwanie użytkownika</h1>

<h3>Czy na pewno chcesz usunąć tego użytkownika?</h3>
<h5 class="error-message">@ViewBag.ErrorMessage</h5>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa użytkownika
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            Imię
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            Nazwisko
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            Użytkownik do przekazania zamówień
        </dt>
        <dd class="col-sm-10">
            @Model.PermLevelNavigation.PermName (@Model.PermLevelNavigation.PermLevel)
        </dd>
    </dl>

    <form asp-action="Delete">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="form-group col-md-4">
                <label class="control-label">Użytkownik do przekazania zamówień</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
        }
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.UserId">Wróć do listy użytkowników</a>
    </form>
</div>
