@model Sozif.Customers

@{
    ViewData["Title"] = "Szczegóły klienta \"" + Model.CustomerName + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły klienta</h1>

<h4>@Model.CustomerName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-2">
                Nazwa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                NIP
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NipString)
            </dd>
            <dt class="col-sm-2">
                Osoba do kontaktu
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactPerson)
            </dd>
            <dt class="col-sm-2">
                Nr telefonu
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumberString)
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        <h4>Adresy klienta</h4>
        <table id="Addresses" class="table table-bordered sortable">
            <thead>
                <tr>
                    <th class="sorter-textPL">
                        Adres
                    </th>
                    <th>
                        Kod pocztowy
                    </th>
                    <th class="sorter-textPL">
                        Miasto
                    </th>
                    <th>
                        Czy główny
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Addresses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @if (item.IsMainAddress)
                            {
                                <text>TAK</text>
                            }
                            else
                            {
                                <text>NIE</text>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Orders" asp-route-customer="@Model.Nip" asp-route-from="Customer" asp-route-fromId="@Model.CustomerId"><input class="btn btn-outline-info" type="button" value="Zamówienia klienta" /></a>
    <a asp-action="Index" asp-controller="Invoices" asp-route-customer="@Model.Nip" asp-route-from="Customer" asp-route-fromId="@Model.CustomerId"><input class="btn btn-outline-secondary" type="button" value="Faktury klienta" /></a>
</div>
<br />
<div>
    @if (Context.Session.GetString("EditCustomers") == "true")
    {
        <a asp-action="Edit" asp-route-id="@Model.CustomerId"><input class="btn btn-outline-primary" type="button" value="Edytuj" /></a>
        <a asp-action="Delete" asp-route-id="@Model.CustomerId"><input class="btn btn-outline-danger" type="button" value="Usuń" /></a>
    }
    @if (ViewBag.From != null && ViewBag.From == "Orders")
    {
        <a asp-controller="Orders" asp-action="Index"><input class="btn btn-secondary" type="button" value="Wróć do listy zamówień" /></a>
    }
    else if (ViewBag.From != null && ViewBag.From == "Order" && ViewBag.FromId != null)
    {
        <a asp-controller="Orders" asp-action="Details" asp-route-id="@ViewBag.FromId"><input class="btn btn-secondary" type="button" value="Wróć zamówienia" /></a>
    }
    else
    {
        <a asp-action="Index"><input class="btn btn-secondary" type="button" value="Wróć do listy klientów" /></a>
    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.tablesorter.addParser({
                id: 'textPL',
                is: function (s, table, cell, $cell) {
                    return false;
                },
                format: function (s, table, cell, $cell) {
                    return s.toLowerCase().replace('ą', 'a').replace('ć', 'c').replace('ę', 'e').replace('ł', 'l').replace('ó', 'o').replace('ś', 's').replace('ż', 'z').replace('ź', 'z');
                },
                type: 'text'
            });
            $("#Addresses").tablesorter({
                theme: 'blue',
                widgets: ['zebra']
            });
        });
    </script>
}