@model IEnumerable<Sozif.Customers>

@{
    ViewData["Title"] = "Nowe zamówienie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tworzenie zamówienia</h1>

<div>
    <a asp-action="Index">Wróć do listy zamówień</a>
</div>

<hr />
<h4>Wybierz klienta</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                NIP
            </th>
            <th>
                Osoba do kontaktu
            </th>
            <th>
                Nr telefonu
            </th>
            <th>
                Adres
            </th>
        </tr>
    </thead>
    <tbody>
        @{ bool row = true; }
        @foreach (var item in Model)
        {
            row = !row;
            <tr onclick="location.href = '@(Url.Action("Create", "Orders", new { id = item.CustomerId }))'" class=@(row ? "d0" : "d1")>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NipString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberString)
                </td>
                <td>
                    @{
                        foreach (Addresses address in item.Addresses)
                        {
                            if (address.IsMainAddress)
                            {
                                <text>@address.ToString()</text>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>