@model Sozif.OrderPositions

@{
    ViewData["Title"] = "Dodawanie pozycji zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodawanie pozycji zamówienia</h1>

<div class="form-group">
    <label class="control-label">Klient</label>
    <input class="form-control" value="@ViewBag.Customer.ToString()" disabled="disabled" />
</div>
<div class="form-group">
    <label class="control-label">Adres realizacji</label>
    <input class="form-control" value="@ViewBag.Address.FullAddress" disabled="disabled" />
</div>

<h4>Wybór pozycji</h4>
<h5 class="error-message">@ViewBag.ErrorMessage</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrderPosition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OrderId" class="form-control" hidden="hidden" value="@ViewBag.OrderId"/>
            <div class="form-group">
                <label class="control-label">Produkt</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Ilość</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rabat</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj pozycję do zamówienia" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.OrderId">Wróć do edycji zamówienia</a>
</div>

