@model Sozif.Orders

@{
    ViewData["Title"] = "Szczegóły zamówienia nr " + Model.OrderNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły zamówienia</h1>

<div>
    <h4>@Model.OrderNumber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Numer zamówienia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class="col-sm-2">
            Klient
        </dt>
        <dd class="col-sm-10">
            @(Model.Customer.ToString())
        </dd>
        <dt class="col-sm-2">
            Data zamówienia
        </dt>
        <dd class="col-sm-10">
            @(Model.OrderDate.ToString("dd.MM.yyyy", DateTimeFormatInfo.InvariantInfo))
        </dd>
        <dt class="col-sm-2">
            Adres realizacji
        </dt>
        <dd class="col-sm-10">
            @(Model.Address.FullAddress)
        </dd>
        <dt class="col-sm-2">
            Wartość netto
        </dt>
        <dd class="col-sm-10">
            @((Model.NetValue / 100.0).ToString("0.00")) zł
        </dd>
        <dt class="col-sm-2">
            Wartość VAT
        </dt>
        <dd class="col-sm-10">
            @((Model.TaxValue / 100.0).ToString("0.00")) zł
        </dd>
        <dt class="col-sm-2">
            Wartość brutto
        </dt>
        <dd class="col-sm-10">
            @((Model.GrossValue / 100.0).ToString("0.00")) zł
        </dd>
        <dt class="col-sm-2">
            Data realizacji
        </dt>
        @if (Model.RealisationDate != null)
        {
            <dd class="col-sm-10">
                @(Model.RealisationDate?.ToString("dd.MM.yyyy", DateTimeFormatInfo.InvariantInfo))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Niezrealizowane
            </dd>
        }
        @if (Model.Invoice != null)
        {
            <dt class="col-sm-2">
                Numer faktury
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
            </dd>
        }
        <dt class="col-sm-2">
            Osoba przyjmująca zamówienie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    @if (Model.RealisationDate == null && Context.Session.GetString("EditOrders") == "true")
    {
        <a asp-action="Completed" asp-route-id="@Model.OrderId"><input class="btn btn-primary" type="button" value="Oznacz jako zrealizowane" /></a>
        <a asp-action="Edit" asp-route-id="@Model.OrderId"><input class="btn btn-outline-primary" type="button" value="Edytuj" /></a>
        <a asp-action="Delete" asp-route-id="@Model.OrderId"><input class="btn btn-outline-danger" type="button" value="Usuń" /></a>
    }
    <a asp-action="Index"><input class="btn btn-secondary" type="button" value="Wróć do listy zamówień" /></a>
</div>
<hr />
<h4>Pozycje zamówienia</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Ilość
            </th>
            <th>
                Cena netto
            </th>
            <th>
                Rabat
            </th>
            <th>
                Cena netto po rabacie
            </th>
            <th>
                Suma netto
            </th>
            <th>
                Suma VAT
            </th>
            <th>
                Suma brutto
            </th>
        </tr>
    </thead>
    <tbody>
        @{ bool row = true; }
        @foreach (var item in Model.OrderPositions)
        {
            row = !row;
            <tr class=@(row ? "d0" : "d1")>
                <td>
                    @item.Product.ProductName
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @((item.Product.BaseNetPrice / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @if (item.Discount != null)
                    {
                        <text>@(item.Discount)%</text>
                    }
                </td>
                <td>
                    @((item.FinalNetPrice / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @((item.FinalNetValue / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @((item.FinalTaxValue / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @((item.FinalGrossValue / 100.0).ToString("0.00")) zł
                </td>
            </tr>
        }
    </tbody>
</table>