@model IEnumerable<Sozif.Orders>

@{
    ViewData["Title"] = "Lista zamówień";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link rel="stylesheet" href="@Url.Content("~/js/tablesorter/themes/blue/style.css")" />
}

<h1>Lista zamówień</h1>

<p>
    @if (Context.Session.GetString("EditOrders") == "true")
    {
        <a asp-action="ChooseCustomer"><input class="btn btn-primary" type="button" value="Stwórz nowe zamówienie" /></a>
    }
</p>
<table id="OrdersList" class="table table-bordered tablesorter">
    <thead>
        <tr>
            <th class="{sorter: 'text'}">
                Numer zamówienia
            </th>
            <th class="{sorter: 'textPL'}">
                Klient
            </th>
            <th>
                Data zamówienia
            </th>
            <th class="{sorter: 'textPL'}">
                Adres realizacji
            </th>
            <th>
                Ilość pozycji
            </th>
            <th class="{sorter: 'cur'}">
                Wartość netto
            </th>
            <th class="{sorter: 'cur'}">
                Wartość VAT
            </th>
            <th class="{sorter: 'cur'}">
                Wartość brutto
            </th>
            <th>
                Data realizacji
            </th>
            <th>
                Numer faktury
            </th>
            <th class="{sorter: 'textPL'}">
                Osoba przyjmująca
            </th>
        </tr>
    </thead>
    <tbody>
        @{ bool row = true; }
        @foreach (var item in Model)
        {
            row = !row;
            <tr onclick="location.href = '@(Url.Action("Details", "Orders", new { id = item.OrderId }))'" class=@(row ? "d0" : "d1")>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @(item.Customer.ToString())
                </td>
                <td>
                    @(item.OrderDate.ToString("yyyy-MM-dd", DateTimeFormatInfo.InvariantInfo))
                </td>
                <td>
                    @(item.Address.FullAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionsCount)
                </td>
                <td>
                    @((item.NetValue / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @((item.TaxValue / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @((item.GrossValue / 100.0).ToString("0.00")) zł
                </td>
                <td>
                    @(item.RealisationDate?.ToString("yyyy-MM-dd", DateTimeFormatInfo.InvariantInfo))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.tablesorter.addParser({
                id: 'cur',
                is: function (s) {
                    return false;
                },
                format: function (s) {
                    return s.replace(' zł', '').replace(',', '');
                },
                type: 'number'
            });
            $.tablesorter.addParser({
                id: 'textPL',
                is: function (s) {
                    return false;
                },
                format: function (s) {
                    return s.toLowerCase().replace('ą', 'a').replace('ć', 'c').replace('ę', 'e').replace('ł', 'l').replace('ó', 'o').replace('ś', 's').replace('ż', 'z').replace('ź', 'z');
                },
                type: 'text'
            });

            $("#OrdersList").tablesorter({
                widgets: ["zebra"], // initialize zebra striping of the table
                widgetOptions: {
                    zebra: [ "normal-row", "alt-row" ]
                }
            });
        });
    </script>
    <script src="@Url.Content("~/js/tablesorter/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/tablesorter/jquery.tablesorter.min.js")" type="text/javascript"></script>
}