@model Sozif.OrderPositions

@{
    ViewData["Title"] = "Dodawanie pozycji zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodawanie pozycji zamówienia</h1>

<hr />
<dl class="row">
    @if (ViewBag.From == null || ViewBag.From != "New")
    {
        <dt class="col-sm-2">
            Numer zamówienia
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Order.OrderNumber
        </dd>
        <dt class="col-sm-2">
            Data zamówienia
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Order.OrderDate.ToString("dd.MM.yyyy", DateTimeFormatInfo.InvariantInfo)
        </dd>
    }
    <dt class="col-sm-2">
        Klient
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Order.Customer.ToString()
    </dd>
    <dt class="col-sm-2">
        Adres realizacji
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Order.Address.FullAddress
    </dd>
</dl>
<hr />

<h4>Wybór pozycji</h4>
<h5 class="error-message">@ViewBag.ErrorMessage</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPosition" asp-route-from="@(ViewBag.From != null ? ViewBag.From : null)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OrderId" class="form-control" hidden="hidden" value="@ViewBag.Order.OrderId" />
            <input asp-for="ProductId" class="form-control" hidden="hidden" value="@ViewBag.Product.ProductId" />
            <div class="form-group">
                <label class="control-label">Produkt</label>
                <input class="form-control" disabled="disabled" value="@ViewBag.Product.ProductName" />
            </div>
            <div class="form-group">
                <label class="control-label">Cena netto</label>
                <input class="form-control" disabled="disabled" value="@((ViewBag.Product.BaseNetPrice / 100.0).ToString("0.00")) zł" />
            </div>
            <div class="form-group">
                <label class="control-label">Stawka VAT</label>
                <input class="form-control" disabled="disabled" value="@(ViewBag.Product.TaxRate.Rate)%" />
            </div>
            <div class="form-group">
                <label class="control-label">Cena brutto</label>
                <input class="form-control" disabled="disabled" value="@((ViewBag.Product.BaseGrossPrice / 100.0).ToString("0.00")) zł" />
            </div>
            <div class="form-group">
                <label class="control-label">Ilość</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rabat</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj pozycję do zamówienia" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.From != null && ViewBag.From == "New")
    {
        <a asp-action="Create" asp-route-id="@ViewBag.Order.Customer.CustomerId" asp-route-orderId="@ViewBag.Order.OrderId"><input class="btn btn-secondary" type="button" value="Wróć do zamówienia" /></a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@ViewBag.Order.OrderId"><input class="btn btn-secondary" type="button" value="Wróć do zamówienia" /></a>
    }
</div>