@model IEnumerable<Sozif.UserPermissions>

@{
    ViewData["Title"] = "Poziomy uprawnień użytkowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Poziomy uprawnień użytkowników</h1>

<p>
    <a asp-action="Create"><input class="btn btn-success" type="button" value="Dodaj poziom uprawnień" /></a>
</p>
<table id="Permissions" class="table table-bordered sortable">
    <thead>
        <tr>
            <th class="sorter-false" style="vertical-align: middle">
                Nazwa uprawnień
            </th>
            <th class="sorter-false" style="vertical-align: middle">
                Edycja użytkowników
            </th>
            <th class="sorter-false" style="vertical-align: middle">
                Edycja produktów i stawek VAT
            </th>
            <th class="sorter-false" style="vertical-align: middle">
                Edycja klientów
            </th>
            <th class="sorter-false" style="vertical-align: middle">
                Tworzenie i edycja zamówień
            </th>
            <th class="sorter-false" style="vertical-align: middle">
                Wystawianie faktur
            </th>
            <th class="sorter-false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.PermName)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.EditUsers)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.EditProducts)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.EditCustomers)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.EditOrders)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.EditInvoices)
                </td>
                <td style="vertical-align: middle">
                    @if (item.PermName != "Administrator")
                    {
                        <a asp-action="Edit" asp-route-id="@item.PermLevel"><input class="btn btn-outline-primary" type="button" value="Edytuj" /></a>
                        @if (item.UsersWithPermLevel == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.PermLevel"><input class="btn btn-outline-danger" type="button" value="Usuń" /></a>
                        }
                    }
                    <a><input class="btn btn-outline-link" style="width: 0" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Permissions").tablesorter({
                theme: 'blue',
                widgets: ['zebra']
            });
        });
    </script>
}